//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$font-weight-bolder: 600 !default;

$danger: #dc3545 !default;

$medium: 1200px;
$small: 575px;
$very-small: 348px;

$product-card-width: 240px;
$sidebar-menu-width: 320px;

$custom-dark: #454545;
$custom-orange: rgba(245,193,57);
$black: #000000;
$black-hover: #100f0f;
$green: #39FF14;
$green-hover: #30DE0FFF;
$header-table: rgba(245,193,57);
$text-base-color: #454545;
$placeholder-color: #B9B9C3;
$text-color: #d0d2d6;
$white: #fff;
$placeholder-moz-color: #828288;
$placeholder-color: #B9B9C3;
$custom-green: #28c76f;
$custom-red: #EA5455;
$custom-warning: #FF9110;
$theme-dark-input-bg: #283046;

$primary-100: #278350;
$primary-100-hover: #1e5938;
$primary-200: #61bc84;
$primary-300: #c6ffe6;
$accent-100: #8FBC8F;
$accent-200: #345e37;
$accent-300: #7367f0;
$accent-300-hover: #6054d8;
$text-100: #FFFFFF;
$text-200: #e0e0e0;
$bg-100: #23272BFF;
$bg-200: #2d363c;
$bg-300: #353f45;