@import "@/assets/scss/variables/_variables.scss";

.confirm-button-sweet {
  background-color: $accent-300 !important;
  color: #FFF;
  margin-right: 10px;
  box-shadow: 0 0 0 0 rgb(112 102 224 / 50%) !important;
  transition: .5s background-color;
}

.confirm-button-sweet:hover {
  background-color: $accent-300-hover !important;
  color: #FFF;
}

.swal2-icon.swal2-warning {
  border-color: #ff9f43 !important;
  color: #ff9f43 !important;
}

.swal2-popup {
  background: $bg-200;
}
